body
{
  background-color: rgb(32,42,68);
}
h1
{
  text-align: center;
  color: rgb: (143,201,81);
  font-size: 35;
}
section h2
{
  font-size: 28pt;
}
ul
{
  font-size: 18pt;
}
.date
{
  color: rgb: (255,120,0)
}
nav a
}
  font-size: 20pt;
  font-weight: bold;
  color: rgb: (255,255,255);
}
